@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/*** RESET ***/
body{
    height: 100%;
    margin: 0;
    padding: 0;}

html, div, head, p {
    margin: 0;
    padding: 0;}

h1 {
    font-size: 270px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 265px;
    margin-top: 4px; }

p{
    font-size: 30px;
    color: black;
    height:300px;
    background-color:white;
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
}

t{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;

}

.parallax {
    /* The image used */
    background-image: url("/images/electronic-circuit-board-close-up-background.jpg");
    min-height: 1024px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.navbar a.active {
    background-color: black;
    color: white;
}